{% extends 'base.html' %}
{% load static %}
{% block title %}
Новости | {{ block.super }}
{% endblock %}
{% block content %}
<h2 class="text-center">Новости</h2>
<div class="news">
    <div class="card-columns">
        {% for post in posts %}

        <article class="card ">
            <div class="card-header">
                <h5 class="card-title text-center">
                    <a href="{% url 'news_post' slug_url=post.slug_url %}">{{ post.title }}</a>
                </h5>
                <div>
                    <p class="card-subtitle text-muted text-left small py-1">
                        Автор: {{ post.author }}
                    </p>
                    <p class="card-subtitle text-muted text-left small py-1">
                        Опубликовано:{{ post.date_of_creation }}
                    </p>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.content|linebreaksbr|truncatewords:36 }}</p>
                <!-- <p class="card-subtitle text-muted">Создана:{{ post.date_of_creation }}</p> -->
                <!-- TODO dates only when visited -->
            </div>
        </article>

        {% empty %}
        <p>Извините, никаких новостей!</p>

        {% endfor %}
    </div>
</div>

{% endblock %}