{% extends 'base.html' %}
{% block content %}
    <h4 class="text-center">Журнал оказанных услуг за {{ journal.period }} ({{ journal.ippsu.serviced_person }})</h4>
    <span>За период от {{ journal.date_from }} до {{ journal.date_to }} оказано {{ journal.services_count }} услуг(и)</span>

    <p class="text-right">
        <i>
            <i class="fa fa-square text-primary"></i> - Гарантированные&nbsp;
            <i class="fa fa-square text-warning"></i> - Дополнительные&nbsp;
            <i class="fa fa-square text-success"></i> - Платные&nbsp;
        </i>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 20%">Дата и время</th>
            <th scope="col">Название</th>
            <th scope="col" style="width: 14%" class="text-center">
                {% if can_manage_journal %}
                    <a href="{% url 'provided_service_add' journal.id %}" class="btn btn-link">
                        <i class="fa fa-plus"></i>
                        {#                        <span class="d-md-none d-lg-inline">Добавить </span>#}
                        <span class="d-lg-inline d-none">Добавить </span>
                    </a>
                {% endif %}
            </th>
        </tr>
        </thead>
        {% for service in services %}
            <tr class="{% if service.type_of_service == 'A' %}
                            table-warning
                        {% elif service.type_of_service == 'P' or service.type_of_service == 'F' %}
                            table-success
                        {% else %}
                            table-primary
                        {% endif %} ">
                <td>
                    <em>{{ service.date_of }}</em>
                </td>
                <td>
                    {{ service.service.title }}
                </td>
                <td class="text-center">
                    {% if can_manage_journal %}
                        <a href="{% url 'provided_service_add' journal.id %}" class="btn btn-primary">
                            <i class="fa fa-pen "></i>
                        </a>
                        <a href="{% url 'provided_service_add' journal.id %}" class="btn btn-danger">
                            <i class="fa fa-ban "></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock content %}