@import 'bootstrap-4/bootstrap';
@import "bootstrap-4/bootstrap-reboot";

.wrapper {
  min-height: 100vh;
}


.navbar-toggler {
  width: 100%;
  float: none;
  margin: 0 auto;
  border-width: 0;
  border-radius: 0;
}


.news > .card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

}