{% extends 'base.html' %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    Test index page
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda consectetur, consequatur, corporis
    dicta distinctio dolor eius eveniet expedita fugiat in minus modi nesciunt non obcaecati odit quae quaerat quam quia
    quos ratione rerum sapiente sunt temporibus vitae voluptate voluptatibus. Ad amet architecto atque culpa, cumque
    debitis dolorem doloribus dolorum eaque earum expedita explicabo facilis illo ipsa ipsum laboriosam, neque nesciunt
    non obcaecati officiis optio pariatur perferendis, quod rerum tempora tempore temporibus ut. Accusamus accusantium
    at beatae, cum doloribus est exercitationem fugiat hic iste modi nemo nisi possimus provident, quaerat quibusdam.
    Aliquam architecto blanditiis cupiditate ex harum illum nostrum, nulla, optio quaerat rem similique suscipit unde
    vel velit vitae? Aliquam architecto aspernatur atque cum debitis doloribus dolorum eaque eveniet fugit iste itaque
    laborum laudantium minima necessitatibus neque nesciunt non omnis perspiciatis porro quasi quo quod, ratione rem
    sapiente, similique tenetur ut vero. Aliquam aperiam ipsum laudantium magni repudiandae! Aliquid, voluptates?
{% endblock %}