@import "./scss/_functions.scss";
@import "./scss/_variables.scss";
@import "./scss/mixins/_breakpoints.scss";


.news>.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}