.footer{
  background-color: #c5c5c5;
  text-align: center;
  //ul {
  //  display: inline-flex;
  //  flex-direction: row;
  //}
  //li {
  //  display: inline-block;
  //
  //}
  //&__author{
  //
  //}
}