.header {
  background-color: $c4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;

  line-height: 1.33em;
  font-size: 1em;

  &__logo {
    display: inline-flex;
    width: 100%;

    img {
      //TODO fix size
      max-width: 200px;
      width: 100%;
      max-height: 190px;
      height: 100%;
      margin: auto;
    }
  }

  &-center {
    flex-basis: 60%;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &-left, &-right {
    flex-basis: 15%;
  }

  &-right {
    height: 100%;
    min-height: 100%;
    background-color: #6d9db7;
    border: 0 solid;
    border-bottom-left-radius: 25%;
    padding: 15px;

  }

  &__text {
    text-align: center;

  }

}

.account-menu {
  background-color: #c5c5c5;
  border: 0 solid;
  border-radius: 0 15%;
  padding: 5px;

  &__actions {
    li {display: block}
  }
}

.navigation {
  &__list {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: #6d9db7;
    margin: 0;
    bottom: 0;

  }

  &__item {
    padding: 1em;
  }

  &__top {
    border: 5px solid #6d9db7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__list {
    padding-left: 0;

    li {
      display: block;
      background-color: #c5c5c5;
      border: 0 solid;
      border-radius: 15px;

      a {
        color: black;
        margin: 3em auto;
      }
    }
  }
}

