.header {
  background-color: $c4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;

  line-height: 1.33em;
  font-size: 1em;

  &__logo {
    display: inline-flex;
    width: 100%;

    img {
      max-width: 200px;
      width: 100%;
      //max-height: 190px
      height: 100%;
      margin: auto;
    }
  }

  &-center {
    flex-basis: 60%;
  }

  &-left, &-right {
    flex-basis: 15%;
  }

  &__text {
    text-align: center;
    font-family: Calibri;
  }

}


.navigation {
  &__list {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: #6d9db7;
    margin: 0;
    bottom: 0;

  }
  &__item {
    padding: 1em;
  }

  .navigation__list > li {
    display: inline-block;
    background-color: #c5c5c5;

    a {
      color: black;
      margin: 3em auto ;
    }
  }
}

