$header_bg_color: #627C9A;
$header_color: white;

//$navigation_bg: yellow;
//$navigation__link_color: green;
//$navigation__link_bg: red;

//
//$c1:#D6DDB6;
//$c2:#1B212F;
//$c3:#627C9A;
//$c4:#B0BCCE;
//$c5:#DCE1E7;
//$c6:#EEECF4;

//https://www.design-seeds.com/seasons/autumn/fresh-hues-24/
//$c1: #2E4D58;
//$c2: #1D292C;
//$c3: #706F7B;
//$c4: #9E9AA2;
//$c5: #D3C3C3;
//$c6: #EEE5DB;
//

////https://www.design-seeds.com/in-nature/flora/flora-tones-48/
//$c1: #CAD2A4;
//$c2: #475A47;
//$c3: #12151D;
//$c4: #444753;
//$c5: #D7D2D1;
//$c6: #EAE7E8;

//https://www.design-seeds.com/edible-hues/culinary-color/fresh-hues-47/
$c1: #E87F4D;
$c2: #3A5E48;
$c3: #2F4A57;
$c4: #4F788D;
$c5: #7BA6B4;
$c6: #A5BFC5;


@font-face {
  font-family: 'Title-font';
  src:
          //url("/static/fonts/16863.otf"),
          //url("/static/fonts/16890.ttf"),
          url("/static/fonts/16898.otf");
}