@import 'bootstrap';

.wrapper {
  min-height: 100vh;
}

.navbar-toggler {
  width: 100%;
  float: none;
  margin: 0 auto;
  border-width: 0;
  border-radius: 0;
}


.news>.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}