@import "variables";

//*{box-sizing: border-box;}
a {text-decoration: none; color: black}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container {
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;

  background-color: $c5;
}
.title {
  text-align: center;
  font-size: larger;
}

@import "header";

