@import "variables";

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #e8f2f7;
}


.container {
  max-width: 1150px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  background-color: $c5;
  padding-top: 30px;
  padding-bottom: 30px;

  * {
    margin: 0 auto;

  }
}

.title {
  text-align: center;
  font-size: larger;
  //padding: 25px;
  padding-bottom: 10px;
}

@import "header";
@import "footer";

