{% extends 'base.html' %}
{% block content %}
    <h2 class="title">Личный кабинет</h2>
    <p>Здравствуйте, {{ user.worker.fullFIO }}, вы занимаете следующие должности:</p>
    {% if user.worker.membership.count %}

        <ul class="nav nav-tabs">
            <!-- Первая вкладка (активная) -->
            {% for worker_pos in user.worker.membership.all.active %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %} active {% endif %}"
                       data-toggle="tab" href="#description{{ worker_pos.id }}">
                        {#                        {% if worker_pos.position == 'C' %}#}
                        {#                            Деятельность заведующего#}
                        {#                        {% elif worker_pos.position == 'S' %}#}
                        {#                            Социальная работа#}
                        {#                        {% elif worker_pos.position == 'R' %}#}
                        {#                            Администрирование отделения#}
                        {#                        {% endif %}#}

                        {{ worker_pos.get_position_display }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for worker_pos in user.worker.membership.all.active %}
                <div class="tab-pane fade {% if forloop.first %}show active {% endif %}"
                     id="description{{ worker_pos.id }}">
                    <div class="">

                        {% if worker_pos.position == 'C' %}
                            {% include 'cabinet/chief/actions/actions.html' %}
                        {% elif worker_pos.position == 'S' %}
                            {% include 'cabinet/social_worker/actions/actions.html' %}
                        {% elif worker_pos.position == 'R' %}
                            {% include 'cabinet/receptionist/actions/actions.html' %}
                        {% endif %}
                        <hr>
                        <p>
                            Вы занимаете должность "{{ worker_pos.get_position_display }}" c
                            <em>{{ worker_pos.date_of_appointment }}</em>

                        </p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p> На данный момент вы не занимаете должности, обратитесь к заведующему отделения.</p>
    {% endif %}

{% endblock %}