{% extends 'base.html' %}
{% block content %}
    <h2 class="title">Личный кабинет</h2>
    <p>Добрый день, {{ user.worker.fullFIO }}</p>
    {% if user.worker.membership.count %}
        <p>На данный момент вы занимаете следующие должности:</p>
        <div class="profile__position-list">
            {% for worker_pos in user.worker.membership.all %}
                <div class="position">
                    <span>Должность:</span> <span class="position__title"> {{ worker_pos.position.title }}</span> <br>
                    <span>Дата устройства:</span><em
                        class="position__date-of-appointment">{{ worker_pos.date_of_appointment }}</em>
                    <br>
                    <span>Ставка:</span><span class="position__rate">{{ worker_pos.rate }}</span> <br>
                    {% if worker_pos.position.title == 'Социальный работник' %}
                        <a class="btn btn-primary" href="{% url 'url_services_journals_create' %}">
                            <i class="fas fa-calendar-plus"></i>
                            Список оказанных услуг
                        </a>
                    {% elif worker_pos.position.title == 'Заведующий' %}
                        <a class="btn btn-primary" href="{% url 'serviced_person_list' %}">
                            <i class="fas fa-calendar-plus"></i>
                            Список обслуживаемых
                        </a>
                        <a class="btn btn-primary" href="{% url 'url_serviced_persons_create' %}">
                            <i class="fas fa-calendar-plus"></i>
                            Добавить обслуживаемого
                        </a>

                    {% endif %}

                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p> На данный момент вы не занимаете должности</p>
    {% endif %}

{% endblock %}