{% extends 'base.html' %}
{% block content %}
    <h4 class="text-center">Нормативные документы</h4>
    <p class="text-justify">
        Основным законом, регулирующим деятельность органов социального обслуживания, является <a href="#">федеральный
        закон от 28 декабря 2013 г. № 442-ФЗ "Об основах социального обслуживания граждан в Российской Федерации"</a>.
        Также регулируется деятельность в отношении ветеранов -<a href="#"> федеральным законом «О ветеранах» и
        инвалидов - федеральным законом «О социальной защите инвалидов в Российской Федерации»</a>. Деятельность
        рассматриваемого отделения регламентирована <a href="#">положением КЦСОН Тевризского района - «Положение об
        отделении социального обслуживания на дому граждан пожилого возраста, проживающих в домах муниципального
        специализированного жилищного фонда для социальной защиты отдельных категорий граждан» </a>. Состав услуг
        соответствует <a href="#">постановлению «об утверждении примерного перечня Социальных услуг по видам социальных
        услуг» правительства Российской федерации </a>. Конкретные перечни услуг, предоставляемые в отделении
        перечислены ниже.
    </p>
    <ul>
        <li>
            Гарантированные услуги – согласно <a href="#">приказу «Об установлении тарифов на социальные услуги,
            предоставляемые в форме социального обслуживания на дому, оказываемые организациями социального обслуживания
            Омской области».</a>
        </li>
        <li>
            Дополнительные услуги – согласно <a href="#">приказу «Об установлении тарифов на дополнительные социальные
            услуги, предоставляемые бюджетным учреждением Омской области "комплексный центр социального обслуживания
            населения Тевризского района», региональной энергетической комиссии Омской области.</a>
        </li>
        <li>
            Платные услуги – согласно <a href="#">приказу «Об установлении тарифов на платные услуги, предоставляемые
            бюджетным учреждением Омской области «Комплексный центр социального обслуживания населения Тевризского
            района»», комплексного центра социального обслуживания населения Тевризского района</a>, а также <a
                href="#">изменениям в приказе – «О внесении изменений в приказ бюджетного учреждения Омской области
            «Комплексный центр социального обслуживания населения Тевризского района» от 21 октября 2016 года № 54/о.»
            комплексного центра социального обслуживания населения Тевризского района.</a>
        </li>
    </ul>
    <p class="text-justify">
        Порядок проживания в отделении указан в <a href="#">«правилах внутреннего распорядка для получателей социальных
        услуг»</a> КЦСОН Тевризского района.
    </p>
{% endblock %}