{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            Сайт отделения социальной помощи
        {% endblock title %}
    </title>
    {% block external_links %}
        <link rel="stylesheet" href="{% static "css/fa_all.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock external_links %}
</head>

<body>
<div class="wrapper d-flex flex-column">
    {% include 'header.html' %}

    <div class="container flex-fill py-3 ">
        {% block content %}
        {% endblock content %}
        {% block pagination %}
            {% if is_paginated %}
                <hr>
                <div class="pagination">
                    <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                      {% endif %}
                        <span class="page-current">
                          Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                      </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                        {% endif %}
                    </span>
                    {#                    <ul>#}
                    {#                        {% mkrange page_obj.num_pages as num_pages %}#}
                    {#                        {% for page in 'x'|ljust:page_obj.num_pages %}#}
                    {#                            <li>page # {{ loop }}</li>#}
                    {#                        {% endfor %}#}
                    {##}
                    {#                    </ul>#}
                </div>
            {% endif %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}

    {% block scripts %}
        <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock scripts %}
</div>
</body>

</html>