{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
        Сайт отделения социальной помощи
        {% endblock title %}
    </title>
    {% block external_links %}
    <link rel="stylesheet" href="{% static "css/fa_all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-reboot.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock external_links %}
</head>

<body>
    <div class="wrapper d-flex flex-column">
        {% include 'header.html' %}

        <div class="container flex-fill py-3 ">
            {% block content %}
            {% endblock content %}
        </div>

        {% include 'footer.html' %}

        {% block scripts %}
        <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% endblock scripts %}
    </div>
</body>

</html>