<footer class="container-fluid w-100 bg-light text-dark ">

    <div class="footer-copyright text-center py-3">

        <i class="fas fa-copyright"></i>
        Copyright 2020
        <br>

        {#        <i class="fas fa-envelope"></i>#}
        {#        Email:#}
        {#        <a href="mailto:juststudentofuniver@ya.ru">juststudentofuniver@ya.ru</a>#}
        {##}
        {#        <br>#}
        {##}
        {#        <i class="fab fa-github"></i>#}
        {#        Github:<a href="http://github.com/kaper156"> github.com/kaper156</a>#}
    </div>

</footer>