{% load static %}
<header class="header">
    {#    <img src="{% static "img/logo.jpg" %}" alt="logo" class="header__logo logo">#}
    {#    <div class="header-left">#}
    <a class="header-left header__logo" href="/">
        <img src="{% static 'img/gerb.gif' %}" alt="Логотип">
    </a>
    {#    </div>#}

    <div class="header-center">
        <div class="header__title">
            <h2 class="header__text">
                Тевризское отделение социального обслуживания на дому граждан пожилого возраста, проживающих в домах
                муниципального
                специализированного жилищного фонда, для социальной защиты отдельных категорий граждан
            </h2>
            {#            <h3 class="header__sub-text">Оффициальный сайт</h3>#}
        </div>
        <nav class="navigation navigation__top">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="{% url 'news' %}" class="navigation__link">Новости</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Нормативные акты</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Об отделении</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
            </ul>
        </nav>

    </div>
    <div class="header-right">
        <div class="account-menu">
            {% if user.is_authenticated %}
                <p>Добро пожаловать, <i>{{ user.worker.FIO }}</i></p>
                <ul class="account-menu__actions">
                    <li>
                        <a href="{% url 'profile' %}" class="account-menu__action account-menu__personal_page">
                            Личный кабинет
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="account-menu__action account-menu__logout">
                            Выйти из аккаунта
                        </a>
                    </li>

                </ul>
            {% else %}
                <a href="{% url 'login' %}" class="account-menu__link_top account__login">Войти в личный кабинет</a>
            {% endif %}
        </div>
    </div>

</header>
